
html, body {
    margin: 0;
    padding: 0;
    background-color: #ffffff;
}

#renderCanvas {
    display: block;
    background-color: #aaaaaa;
    border: 2px solid #000000;
    border-radius: 10px;
    cursor: crosshair;
    width: 80%;
    height: 50%;
    margin-left: auto;
    margin-right: auto;
}
#entete {
    text-align: center;
}
.dropzone {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    background-color: #aaaaaa;
    padding: 10px;
    border: 1px solid #111111;
    border-radius: 10px;
}

#drop_zone {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 2px dashed #111111;
    background-color: #aaaaaa;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    padding: 25px;
    text-align: center;
    font: 20pt bold 'Vollkorn';
    color: #111111;
    cursor: pointer;
}

#currentfile {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    border: 1px dashed #000000;
    border-radius: 10px;
    width: 60%;
}